* {
  margin: 0;
  padding: 0;
}
html,body {
  /* width: 100%; */
  overflow-x: hidden;
  background:rgba(241,241,241,1);
}
img {
  display: block;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-1 {
  flex: 1;
}
.animate {
  transition: 1.2s;
  transform: rotateY(360deg);
}